/* App.css */

div.app-container {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    /*
    works for firefox and firefox for android
    color for thumb, color for track
    */
    scrollbar-color: #ffffff80 #070724;
    scrollbar-width: auto;
}

/*
::-webkit-scrollbar (including -track and -thumb)
work for chrome, edge, opera, safari, iOS browsers, and on
*/

div.app-container::-webkit-scrollbar {
    cursor: pointer;
    width: 0.3rem;
}

div.app-container::-webkit-scrollbar-track {
    background-color: #070724;
}

div.app-container::-webkit-scrollbar-thumb {
    background-color: #ffffff80;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    border-radius: 0.3rem;
}
