/* Facts.css */

/* Mobile */

div.facts-container {
    padding: 0 calc(8px + 1.5625vw);
    display: grid;
    row-gap: calc(8px + 1.5625vw);
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto; /* never grow, only shrink */
}

div.fact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid thin #97979733;
    padding: calc(8px + 1.5625vw);
}

/* property */
div.fact-container span:nth-child(1) {
    font-family: "League Spartan", sans-serif;
    font-size: 1rem;
    color: #ffffff80;
    letter-spacing: 0.1rem;
}

/* value */
div.fact-container span:nth-child(2) {
    font-size: 1.3rem;
    text-align: end;
}

/* Tablet */

@media (min-width: 768px) {
    div.facts-container {
        grid-template-columns: repeat(auto-fit, minmax(4rem, auto));
        column-gap: calc(8px + 1.5625vw);
    }

    div.fact-container {
        display: grid;
        row-gap: calc(8px + 1.5625vw);
        padding: calc(8px + 1.5625vw);
    }

    /* value */
    div.fact-container span:nth-child(2) {
        text-align: start;
    }
}

/* Desktop */

@media (min-width: 1440px) {
    div.facts-container {
        padding-left: 0;
        padding-right: 0;
    }
}

/* TV */

@media (min-width: 2560px) {
    div.fact-container span:nth-child(1) {
        font-size: 1.4rem;
    }

    div.fact-container span:nth-child(2) {
        font-size: 1.7rem;
    }
}
