div.Header-container {
    position: sticky;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(5px);
    flex: 0 0 auto;
}

div.Header-container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid thin #97979733;
    padding: calc(8px + 1.5625vw);
}

div.Header-container header h2 {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.4rem;
}

div.Header-container header img {
    transition: opacity 0.1s;
    cursor: pointer;
}

div.Header-container ul.horizontal-planet-choice-container {
    display: none;
}

div.Header-container div.overhead-container {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #070724;
    height: 0;
    overflow-y: hidden;
    box-shadow: 0 0.2rem 0.3rem #000000b1;
}

div.Header-container div.overhead-container.expanded {
    padding: calc(8px + 1.5625vw);
    height: auto;
}

div.Header-container div.overhead-container div.vertical-planet-choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(8px + 1.5625vw);
    cursor: pointer;
}

/* from the second-to-last child upwards */
div.Header-container
    div.overhead-container
    div.vertical-planet-choice:nth-last-child(n + 2) {
    border-bottom: solid thin #97979733;
}

div.Header-container
    div.overhead-container
    div.vertical-planet-choice
    div.dot-name-container {
    display: flex;
    align-items: center;
}

div.Header-container
    div.overhead-container
    div.vertical-planet-choice
    div.dot-name-container
    span.dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

div.Header-container
    div.overhead-container
    div.vertical-planet-choice
    div.dot-name-container
    span.name {
    margin-left: calc(8px + 1.5625vw);
    letter-spacing: 0.1rem;
    font-family: "League Spartan", sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}

div.Header-container div.overhead-container .vertical-planet-choice img {
    width: 0.3rem;
}

div.Header-container ul.features {
    margin: 0;
    padding: 0 calc(8px + 1.5625vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: "League Spartan", sans-serif;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    color: #ffffff80;
    font-weight: bold;
    border-bottom: solid thin #97979733;
}

div.Header-container ul.features li {
    padding: calc(8px + 1.5625vw);
    /* to account for the thickness of the bottom border*/
    padding-bottom: calc(8px + 1.5625vw - 0.15rem);
    cursor: pointer;
    border-bottom: 0.15rem solid transparent;
}

@media (min-width: 768px) {
    div.Header-container header {
        flex-direction: column;
        padding-bottom: 0;
    }

    div.Header-container header img,
    div.Header-container ul.features {
        display: none;
    }

    div.Header-container header ul.horizontal-planet-choice-container {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        width: 100%;
        padding: 0;
        font-family: "League Spartan", sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        margin-top: calc(8px + 1.5625vw);
    }

    .horizontal-planet-choice {
        cursor: pointer;
    }
}
