/* Header.css */

/* Mobile */

div.header-container {
    position: sticky;
    top: 0;
    z-index: 1;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

div.header-container header {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: solid thin #97979733;
    padding: calc(8px + 1.5625vw);
}

div.header-container header h2 {
    font-weight: 300;
    font-size: 1.7rem;
    margin-top: 0;
    margin-bottom: 0;
}

div.toggler-wrapper {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

ul.horizontal-planet-choice-container {
    display: none;
}

ul.overhead-container {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #070724;
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0 0.5rem 0.7rem 0.1rem black;
    box-shadow: 0 0.5rem 0.7rem 0.1rem black;
    -webkit-transition: visibility 0.4s, opacity 0.4s;
    -moz-transition: visibility 0.4s, opacity 0.4s;
    transition: visibility 0.4s, opacity 0.4s;
    z-index: 2;
    margin-top: 0;
    padding: calc(8px + 1.5625vw);
}

ul.overhead-container.show {
    visibility: visible;
    opacity: 1;
}

ul.overhead-container.hide {
    visibility: hidden;
    opacity: 0;
}

li.vertical-planet-choice-container {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding: calc(8px + 1.5625vw);
    cursor: pointer;
    color: #ffffff80;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.3s;
}

li.vertical-planet-choice-container:hover,
li.vertical-planet-choice-container:focus {
    background-color: #030318;
    color: white;
}

/* from the second-to-last child upwards */
li.vertical-planet-choice-container:nth-last-child(n + 2) {
    border-bottom: solid thin #97979733;
}

div.dot-name-container {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

span.dot {
    width: 1rem;
    height: 1rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

span.name {
    margin-left: calc(8px + 1.5625vw);
    letter-spacing: 0.1rem;
    font-family: "League Spartan", sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}

div.chevron-wrapper {
    width: 0.3rem;
}

div.chevron-wrapper {
    display: flex;
    align-self: center;
}

ul.header-features-container {
    margin: 0;
    padding: 0 calc(8px + 1.5625vw);
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    list-style: none;
    font-family: "League Spartan", sans-serif;
    letter-spacing: 0.1rem;
    font-size: 0.6rem;
    color: #ffffff80;
    font-weight: bold;
    border-bottom: solid thin #97979733;
}

li.header-feature-wrapper {
    padding: calc(8px + 1.5625vw);
    /* to account for the thickness of the bottom border*/
    padding-bottom: calc(8px + 1.5625vw);
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
}

li.header-feature-wrapper.selected::after {
    content: "";
    position: absolute;
    height: 0.1rem;
    left: 0;
    bottom: 0;
    background-color: var(--selected-feature-after-background-color);
}
li.header-feature-wrapper.selected:focus::after {
    background-color: white;
}

/* bottom-border animation */
li.header-feature-wrapper {
    position: relative;
}
li.header-feature-wrapper::after {
    content: "";
    width: 0;
    position: absolute;
    height: 0.1rem;
    left: 0;
    bottom: 0;
    background-color: #ffffff80;
    -webkit-transition: width ease-in-out 0.25s;
    -moz-transition: width ease-in-out 0.25s;
    transition: width ease-in-out 0.25s;
}

/* Mobile COMMONS */

li.header-feature-wrapper.selected::after,
li.header-feature-wrapper:hover::after,
li.header-feature-wrapper:focus::after {
    width: 100%;
    right: 0;
}

/* Tablet */

@media (min-width: 768px) {
    div.header-container header {
        -webkit-flex-direction: column;
        flex-direction: column;
        padding-bottom: 0;
    }

    div.toggler-wrapper {
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
    }

    ul.horizontal-planet-choice-container {
        display: flex;
        list-style-type: none;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        width: 100%;
        padding: 0;
        font-family: "League Spartan", sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        margin-top: calc(15px + 1.5625vw);
    }

    li.horizontal-planet-choice {
        cursor: pointer;
        color: #ffffff80;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        transition: color 0.3s;
    }

    li.horizontal-planet-choice.selected {
        color: var(--selected-planet-color);
    }

    li.horizontal-planet-choice:nth-child(1):hover,
    li.horizontal-planet-choice:nth-child(1):focus {
        color: #def4fc;
    }
    li.horizontal-planet-choice:nth-child(2):hover,
    li.horizontal-planet-choice:nth-child(2):focus {
        color: #f7cc7f;
    }
    li.horizontal-planet-choice:nth-child(3):hover,
    li.horizontal-planet-choice:nth-child(3):focus {
        color: #545bfe;
    }
    li.horizontal-planet-choice:nth-child(4):hover,
    li.horizontal-planet-choice:nth-child(4):focus {
        color: #ff6a45;
    }
    li.horizontal-planet-choice:nth-child(5):hover,
    li.horizontal-planet-choice:nth-child(5):focus {
        color: #ecad7a;
    }
    li.horizontal-planet-choice:nth-child(6):hover,
    li.horizontal-planet-choice:nth-child(6):focus {
        color: #fccb6b;
    }
    li.horizontal-planet-choice:nth-child(7):hover,
    li.horizontal-planet-choice:nth-child(7):focus {
        color: #65f0d5;
    }
    li.horizontal-planet-choice:nth-child(8):hover,
    li.horizontal-planet-choice:nth-child(8):focus {
        color: #497efa;
    }
    /* intententionally left at the end so that it can override whatever child is selected */
    li.horizontal-planet-choice.selected:focus {
        color: white;
    }

    /* Tablet COMMONS */

    ul.overhead-container,
    ul.header-features-container {
        display: none;
    }
}

/* Desktop and onwards */

@media (min-width: 1440px) {
    div.header-container header {
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        padding: calc(1px + 1.5625vw);
    }

    ul.horizontal-planet-choice-container {
        width: 50%;
        margin: 0;
    }

    /* Desktop and onwards COMMONS */

    div.header-container header,
    ul.horizontal-planet-choice-container {
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
}
