/* Planet.css */

/* Mobile */

div.planet-container {
    height: calc(275px + 1.5625vw);
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
}

img.with-magnifier {
    position: absolute;
    top: 53%;
    height: 125px;
}

div.planet-container img {
    -webkit-animation: bounce 4s infinite ease-in-out;
    animation: bounce 4s infinite ease-in-out;
}

img.mercury {
    height: calc(111px + 1.5625vw);
    -webkit-filter: drop-shadow(0 0 1rem #419ebb80);
    filter: drop-shadow(0 0 1rem #419ebb80);
}

img.venus {
    height: calc(154px + 1.5625vw);
    -webkit-filter: drop-shadow(0 0 1rem #eda34980);
    filter: drop-shadow(0 0 1rem #eda34980);
}

img.earth {
    height: calc(173px + 1.5625vw);
    -webkit-filter: drop-shadow(0 0 1rem #6e2ed580);
    filter: drop-shadow(0 0 1rem #6e2ed580);
}

img.mars {
    height: calc(129px + 1.5625vw);
    -webkit-filter: drop-shadow(0 0 1rem #d14c3280);
    filter: drop-shadow(0 0 1rem #d14c3280);
}

img.jupiter {
    height: calc(224px + 1.5625vw);
    -webkit-filter: drop-shadow(0 0 1rem #d83a3480);
    filter: drop-shadow(0 0 1rem #d83a3480);
}

img.saturn {
    height: calc(256px + 1.5625vw);
    -webkit-filter: drop-shadow(0 0 1rem #cb502080);
    filter: drop-shadow(0 0 1rem #cb502080);
}

img.uranus {
    height: calc(176px + 1.5625vw);
    -webkit-filter: drop-shadow(0 0 1rem #1ec1a380);
    filter: drop-shadow(0 0 1rem #1ec1a380);
}

img.neptune {
    height: calc(173px + 1.5625vw);
    -webkit-filter: drop-shadow(0 0 1rem #2d67f080);
    filter: drop-shadow(0 0 1rem #2d67f080);
}

/* Tablet */

@media (min-width: 768px) {
    div.planet-container {
        height: calc(422px + 1.5625vw);
    }

    img.with-magnifier {
        height: calc(140px + 1.5625vw);
        top: 59%;
    }

    img.mercury {
        height: calc(184px + 1.5625vw);
    }

    img.venus {
        height: calc(253px + 1.5625vw);
    }

    img.earth {
        height: calc(285px + 1.5625vw);
    }

    img.mars {
        height: calc(213px + 1.5625vw);
    }

    img.jupiter {
        height: calc(369px + 1.5625vw);
    }

    img.saturn {
        height: calc(422px + 1.5625vw);
    }

    img.uranus {
        height: calc(290px + 1.5625vw);
    }

    img.neptune {
        height: calc(285px + 1.5625vw);
    }
}

/* Desktop and onwards */

@media (min-width: 1440px) {
    div.planet-container {
        -webkit-flex: 1 0 auto;
        flex: 1 0 auto; /* only allowed to grow horizontally */
        height: 100%;
        width: 55%;
        padding-left: 0;
        -webkit-align-self: center;
        align-self: center;
    }

    img.with-magnifier {
        height: calc(163px + 1.5625vw);
    }

    img.mercury {
        height: calc(290px + 1.5625vw);
    }

    img.venus {
        height: calc(400px + 1.5625vw);
    }

    img.earth {
        height: calc(450px + 1.5625vw);
    }

    img.mars {
        height: calc(336px + 1.5625vw);
    }

    img.jupiter {
        height: calc(582px + 1.5625vw);
    }

    img.saturn {
        height: calc(666px + 1.5625vw);
    }

    img.uranus {
        height: calc(458px + 1.5625vw);
    }

    img.neptune {
        height: calc(450px + 1.5625vw);
    }
}

/* KEYFRAMES */

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-5px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.initialFadeIn {
    animation: fadeIn 1.2s;
}

.fadeIn {
    animation: fadeIn 0.4s;
}

.fadeOut {
    animation: fadeOut 0.4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
